In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use("fivethirtyeight")

In [3]:
df=pd.read_csv("churn.csv")
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
522,0913-XWSCN,Male,0,Yes,Yes,55,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Bank transfer (automatic),85.5,4713.4,No
5105,2995-UPRYS,Female,1,Yes,No,40,Yes,No,Fiber optic,No,...,No,Yes,Yes,Yes,One year,Yes,Credit card (automatic),99.2,4062.2,Yes
3413,5294-DMSFH,Female,0,Yes,Yes,29,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),87.8,2621.75,No
6779,0076-LVEPS,Male,0,No,Yes,29,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,45.0,1242.45,No
5220,2282-YGNOR,Female,0,No,No,29,Yes,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Credit card (automatic),58.0,1734.5,No

In [4]:
df.shape

(7043, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.drop(columns=['customerID'],inplace=True)

In [8]:
df.head(2)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [10]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [11]:
df['gender'].value_counts()

gender
Male      3555
Female    3488
Name: count, dtype: int64

In [12]:
df['SeniorCitizen'].value_counts()

SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64

In [13]:
for col in df.columns:
    if col not in ["tenure","MonthlyCharges","TotalCharges"]:
        print(col,df[col].unique())
        print("---------------------------------------------")

gender ['Female' 'Male']
---------------------------------------------
SeniorCitizen [0 1]
---------------------------------------------
Partner ['Yes' 'No']
---------------------------------------------
Dependents ['No' 'Yes']
---------------------------------------------
PhoneService ['No' 'Yes']
---------------------------------------------
MultipleLines ['No phone service' 'No' 'Yes']
---------------------------------------------
InternetService ['DSL' 'Fiber optic' 'No']
---------------------------------------------
OnlineSecurity ['No' 'Yes' 'No internet service']
---------------------------------------------
OnlineBackup ['Yes' 'No' 'No internet service']
---------------------------------------------
DeviceProtection ['No' 'Yes' 'No internet service']
---------------------------------------------
TechSupport ['No' 'Yes' 'No internet service']
---------------------------------------------
StreamingTV ['No' 'Yes' 'No internet service']
---------------------------------------------
StreamingMovies ['No' 'Yes' 'No internet service']
---------------------------------------------
Contract ['Month-to-month' 'One year' 'Two year']
---------------------------------------------
PaperlessBilling ['Yes' 'No']
---------------------------------------------
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
---------------------------------------------
Churn ['No' 'Yes']
---------------------------------------------

In [14]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:
for col in ["tenure","MonthlyCharges","TotalCharges"]:
        print(col,len(df[df[col]==" "]))
        print("---------------------------")

tenure 0
---------------------------
MonthlyCharges 0
---------------------------
TotalCharges 11
---------------------------

In [17]:
df['TotalCharges']= df['TotalCharges'].replace({" ":"0.0"}).astype(float)

In [18]:
for col in ["tenure","MonthlyCharges","TotalCharges"]:
        print(col,len(df[df[col]==" "]))
        print("---------------------------")

tenure 0
---------------------------
MonthlyCharges 0
---------------------------
TotalCharges 0
---------------------------

In [19]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64